html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}
.watanLogo{
    width: 80%;
    height: 80%;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h3{
    font-size:250%;
    margin-left: 35%;
    color: #3d3925;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #36bd53 0%, #3f7f56 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    
    background:url('../img/zakhrafa.png'); /* Background pattern from Subtle Patterns */
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #3d3925;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #99ff6c69;
    font-size: 33px;
}

/* TODO: add shaking animation for wrong answer */


 .notMatch{
    animation: shake 0.5s;
    animation-iteration-count: 1;
   
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    font-size: 130%;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

/* TODO: add Media Queries: desktop, tablet and mobile */
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  @media (min-width:320px)  {
    .deck .card.show {
        font-size: 15px;
    }
    .deck {
        width: 230px;
        min-height: 340px;
        background: linear-gradient(160deg, #36bd53 0%, #3f7f56 100%);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
    }
    
    .deck .card {
        height: 60px;
        width: 45px;
        background:url('../img/zakhrafa.png'); /* Background pattern from Subtle Patterns */
        font-size: 0;
        color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }
    .score-panel {
        text-align: center;
        width: 230px;
        margin-bottom: 20px;
        font-size: 160%;
    }
    
    }

 /* tablet, landscape iPad, lo-res laptops ands desktops */
    @media (min-width:801px)  { 
        .deck .card {
            height: 190px;
            width: 135px;
            background: url(../img/zakhrafa.png);
            font-size: 0;
            color: #ffffff;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.35);
        }
    
        .deck {
            width: 680px;
            min-height: 900px;
            background: linear-gradient(160deg, #36bd53 0%, #3f7f56 100%);
            padding: 32px;
            border-radius: 10px;
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 3em;
        }
    }

/* hi-res laptops and desktops */
    @media (min-width:1281px) { 
        .deck {
            width: 1200px;
            min-height: 50px;
            background: linear-gradient(160deg, #36bd53 0%, #3f7f56 100%);
            padding: 32px;
            border-radius: 10px;
            box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 3em;
        }

        .deck .card.show {
            font-size: 25px;
        }

    }

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.coloerdStar{
    color:#e3c810;

}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
